[submodule "search/lunr"]
	path = search/lunr
	url = git@github.com:lovelock/hugo-lunr-zh.git
[submodule "public"]
	path = public
	url = git@github.com:happyhacker-fun/happyhacker-fun.github.io.git
[submodule "themes/hugo-theme-stack"]
	path = themes/hugo-theme-stack
	url = https://github.com/CaiJimmy/hugo-theme-stack
